<launch>

    <!-- joy node -->
    <node pkg="joy" type="joy_node" name="joy_nodename"/>
    <!-- driving agv -->
    <!-- <node pkg="tircgo_uart" type = "tircgo_uart_encoder_decoder_node" name = "tircgo_encoder_decoder_nodename" output="screen"/> -->
    <!-- brain -->
    <!-- <node pkg="tircgo_controller" type="tircgo_controller_node" name="tircgo_controller_nodename" args = "" output="screen"/> -->
    <!-- Scheduler -->
    <node pkg="tircgo_controller" type="Scheduler.py" name="Scheduler_py"  output="screen"/>
    <!-- Agent -->
    <node pkg="tircgo_controller" type="Agent.py" name="Agent_py"  output="screen"/>
</launch>