<launch>

    <!-- joy node -->
    <node pkg="joy" type="joy_node" name="joy_nodename"/>
    <!-- driving agv -->
    <node pkg="tircgo_uart" type = "tircgo_uart_encoder_decoder_node" name = "tircgo_encoder_decoder_nodename" output="screen"/>
    <!-- brain -->
    <node pkg="tircgo_controller" type="tircgo_controller_node" name="tircgo_controller_nodename" output="screen"/>
    <!-- scheduler -->
    <node pkg="tircgo_controller" type="tircgo_scheduler_node" name="tircgo_scheduler_nodename" output="screen"/>
</launch>